@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

.avatar {
    width: 210px;
    height: 210px;
}

a {
    @apply hover:text-goma-peach-3;
}

p, h1, h2, h3 {
    @apply mb-6;
}